{
  "openapi": "3.0.0",
  "info": {
    "title": "Qase.io TestOps API v2",
    "description": "Qase TestOps API v2 Specification.",
    "termsOfService": "https://qase.io/terms",
    "version": "2.0.0",
    "contact": {
      "name": "Qase.io",
      "url": "https://qase.io",
      "email": "support@qase.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/qase-tms/specs/blob/master/LICENSE"
    }
  },
  "tags": [
    {
      "name": "custom-fields"
    },
    {
      "name": "results"
    }
  ],
  "servers": [
    {
      "url": "https://api.qase.io/v2",
      "description": "The production API server."
    }
  ],
  "paths": {
    "/{project_code}/run/{run_id}/result": {
      "post": {
        "summary": "Create test run result",
        "description": "This method allows to create single test run result.\n\nIf there is no free space left in your team account, when attempting to upload an attachment, e.g., through reporters, you will receive an error with code 507 - Insufficient Storage.\n",
        "operationId": "create-result-v2",
        "tags": [
          "results"
        ],
        "parameters": [
          {
            "name": "project_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "If passed, used as an idempotency key"
                  },
                  "title": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "testops_id": {
                    "type": "integer",
                    "format": "int64",
                    "nullable": true,
                    "description": "ID of the test case. Cannot be specified together with testopd_ids."
                  },
                  "testops_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nullable": true,
                    "description": "IDs of the test cases. Cannot be specified together with testopd_id."
                  },
                  "execution": {
                    "$ref": "#/components/schemas/ResultExecution"
                  },
                  "fields": {
                    "type": "object",
                    "properties": {
                      "author": {
                        "type": "string",
                        "description": "Author of the related test case (member id, name or email). If set and test case auto-creation is enabled, the author will be used to create the test case"
                      },
                      "description": {
                        "type": "string"
                      },
                      "preconditions": {
                        "type": "string"
                      },
                      "postconditions": {
                        "type": "string"
                      },
                      "layer": {
                        "type": "string"
                      },
                      "severity": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string"
                      },
                      "behavior": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "muted": {
                        "type": "string"
                      },
                      "is_flaky": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "string",
                        "description": "Comma-separated list of tag titles to assign to the test case"
                      },
                      "executed_by": {
                        "type": "string",
                        "description": "User who executed the test (member id, name or email)"
                      }
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "steps": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResultStep"
                    }
                  },
                  "steps_type": {
                    "nullable": true,
                    "type": "string",
                    "enum": [
                      "classic",
                      "gherkin"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "param_groups": {
                    "type": "array",
                    "description": "List parameter groups by name only. Add their values in the 'params' field",
                    "nullable": true,
                    "items": {
                      "type": "array",
                      "description": "A list of parameters in group",
                      "items": {
                        "type": "string",
                        "description": "A name of the parameter"
                      }
                    }
                  },
                  "relations": {
                    "$ref": "#/components/schemas/ResultRelations"
                  },
                  "message": {
                    "type": "string",
                    "nullable": true
                  },
                  "defect": {
                    "type": "boolean",
                    "description": "If true and the result is failed, the defect associated with the result will be created"
                  }
                },
                "required": [
                  "title",
                  "execution"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1custom_field/get/responses/200/content/application~1json/schema/allOf/0"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "case_id": {
                              "type": "integer",
                              "format": "int64",
                              "nullable": true
                            },
                            "hash": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/{project_code}/run/{run_id}/results": {
      "post": {
        "summary": "Bulk create test run result",
        "description": "This method allows to create several test run results at once.\n\nIf there is no free space left in your team account, when attempting to upload an attachment, e.g., through reporters, you will receive an error with code 507 - Insufficient Storage.\n",
        "operationId": "create-results-v2",
        "tags": [
          "results"
        ],
        "parameters": [
          {
            "name": "project_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateResultsRequestV2",
                "properties": {
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/paths/~1%7Bproject_code%7D~1run~1%7Brun_id%7D~1result/post/requestBody/content/application~1json/schema"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1custom_field/get/responses/200/content/application~1json/schema/allOf/0"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "413": {
            "description": "Payload Too Large. Returned when the request contains more than 200 results, or when the\ncombined length of `execution.error_context` across the batch exceeds 4194304 characters.\nIn both cases the whole batch is rejected — no results are created.\n"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/custom_field": {
      "get": {
        "operationId": "get-custom-fields-v2",
        "tags": [
          "custom-fields"
        ],
        "summary": "Get all Custom Fields",
        "description": "This method allows to retrieve and filter custom fields.\n",
        "parameters": [
          {
            "in": "query",
            "name": "entity",
            "schema": {
              "type": "string",
              "enum": [
                "case",
                "run",
                "defect"
              ]
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "string",
                "text",
                "number",
                "checkbox",
                "selectbox",
                "radio",
                "multiselect",
                "url",
                "user",
                "datetime"
              ]
            }
          },
          {
            "name": "limit",
            "description": "A number of entities in result set.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "description": "How many entities should be skipped.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 100000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom Field list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "boolean"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "filtered": {
                              "type": "integer"
                            },
                            "count": {
                              "type": "integer"
                            },
                            "entities": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/CustomField"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/custom_field/{id}": {
      "get": {
        "operationId": "get-custom-field-v2",
        "tags": [
          "custom-fields"
        ],
        "summary": "Get Custom Field",
        "description": "This method allows to retrieve custom field.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Custom Field.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1custom_field/get/responses/200/content/application~1json/schema/allOf/0"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/CustomField"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultStep": {
        "type": "object",
        "properties": {
          "data": {
            "title": "ResultStepData",
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              },
              "expected_result": {
                "type": "string"
              },
              "input_data": {
                "type": "string"
              },
              "attachments": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "action"
            ]
          },
          "execution": {
            "$ref": "#/components/schemas/ResultStepExecution"
          },
          "steps": {
            "type": "array",
            "description": "Nested steps will be here. The same structure is used for them.",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ResultExecution": {
        "type": "object",
        "properties": {
          "start_time": {
            "type": "number",
            "description": "Unix epoch time in seconds (whole part) and milliseconds (fractional part).",
            "format": "double",
            "nullable": true
          },
          "end_time": {
            "type": "number",
            "description": "Unix epoch time in seconds (whole part) and milliseconds (fractional part).",
            "format": "double",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Can have the following values passed, failed, blocked, skipped, invalid + custom statuses"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the test execution in milliseconds.",
            "format": "int64",
            "nullable": true
          },
          "stacktrace": {
            "type": "string",
            "nullable": true
          },
          "error_context": {
            "type": "string",
            "nullable": true,
            "description": "Free-form failure context captured by the reporter. For Playwright this is the content of error-context.md (test info, error details, page snapshot), so it may include rendered page content. Stored verbatim so it can be copied as raw text. Values longer than 262144 characters are silently truncated by Qase and the request still succeeds. Write-only — not returned by the result read endpoints."
          },
          "thread": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "status"
        ]
      },
      "ResultStepExecution": {
        "type": "object",
        "properties": {
          "start_time": {
            "type": "number",
            "description": "Unix epoch time in seconds (whole part) and milliseconds (fractional part).",
            "format": "double",
            "nullable": true
          },
          "end_time": {
            "type": "number",
            "description": "Unix epoch time in seconds (whole part) and milliseconds (fractional part).",
            "format": "double",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "passed",
              "failed",
              "blocked",
              "skipped",
              "in_progress"
            ]
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the test step execution in milliseconds.",
            "format": "int64",
            "nullable": true
          },
          "comment": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "status"
        ]
      },
      "ResultRelations": {
        "type": "object",
        "title": "Relation",
        "nullable": true,
        "properties": {
          "suite": {
            "type": "object",
            "title": "RelationSuite",
            "nullable": true,
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "title": "RelationSuiteItem",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "public_id": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    }
                  },
                  "required": [
                    "title"
                  ]
                }
              }
            },
            "required": [
              "data"
            ]
          }
        }
      },
      "ResultStatus": {
        "type": "string"
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "placeholder": {
            "type": "string",
            "nullable": true
          },
          "default_value": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CustomFieldOption"
            }
          },
          "is_required": {
            "type": "boolean"
          },
          "is_visible": {
            "type": "boolean"
          },
          "is_filterable": {
            "type": "boolean"
          },
          "is_enabled_for_all_projects": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2021-12-30T19:23:59+00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2021-12-30T19:23:59+00:00"
          },
          "projects_codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CustomFieldOption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "is_default": {
            "type": "boolean",
            "nullable": true
          },
          "read_only": {
            "type": "boolean",
            "nullable": true
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          },
          "is_internal": {
            "type": "boolean",
            "nullable": true
          },
          "behaviour": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      }
    },
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Token"
      }
    }
  },
  "security": [
    {
      "TokenAuth": []
    }
  ]
}