{
  "openapi": "3.0.0",
  "info": {
    "title": "Qase.io TestOps API v1",
    "description": "Qase TestOps API v1 Specification.",
    "termsOfService": "https://qase.io/terms",
    "version": "1.0.0",
    "contact": {
      "name": "Qase.io",
      "url": "https://qase.io",
      "email": "support@qase.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/qase-tms/specs/blob/master/LICENSE"
    }
  },
  "tags": [
    {
      "name": "attachments"
    },
    {
      "name": "authors"
    },
    {
      "name": "cases"
    },
    {
      "name": "custom-fields"
    },
    {
      "name": "configuration"
    },
    {
      "name": "environments"
    },
    {
      "name": "defects"
    },
    {
      "name": "plans"
    },
    {
      "name": "projects"
    },
    {
      "name": "results"
    },
    {
      "name": "milestones"
    },
    {
      "name": "runs"
    },
    {
      "name": "search"
    },
    {
      "name": "shared-parameters"
    },
    {
      "name": "shared-steps"
    },
    {
      "name": "suites"
    }
  ],
  "servers": [
    {
      "url": "https://api.qase.io/v1",
      "description": "The production API server."
    }
  ],
  "paths": {
    "/attachment": {
      "get": {
        "operationId": "get-attachments",
        "tags": [
          "attachments"
        ],
        "summary": "Get all attachments",
        "description": "This method allows to retrieve attachments.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all attachments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "413": {
            "description": "Payload Too Large."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/attachment/{code}": {
      "post": {
        "operationId": "upload-attachment",
        "tags": [
          "attachments"
        ],
        "summary": "Upload attachment",
        "description": "This method allows to upload attachment to Qase.\nMax upload size:\n* Up to 32 Mb per file\n* Up to 128 Mb per single request\n* Up to 20 files per single request\n\nIf there is no free space left in your team account,\nyou will receive an error with code 507 - Insufficient Storage.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file[]": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An attachments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentUploadsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "413": {
            "description": "Payload Too Large."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/attachment/{hash}": {
      "get": {
        "operationId": "get-attachment",
        "tags": [
          "attachments"
        ],
        "summary": "Get attachment by Hash",
        "description": "This method allows to retrieve attachment by Hash.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Hash"
          }
        ],
        "responses": {
          "200": {
            "description": "Single attachment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-attachment",
        "tags": [
          "attachments"
        ],
        "summary": "Remove attachment by Hash",
        "description": "This method allows to remove attachment by Hash.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Hash"
          }
        ],
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/author": {
      "get": {
        "operationId": "get-authors",
        "tags": [
          "authors"
        ],
        "summary": "Get all authors",
        "description": "This method allows to retrieve all authors in selected project.\n",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Provide a string that will be used to search by name."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "app",
                "user"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Author list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/author/{id}": {
      "get": {
        "operationId": "get-author",
        "tags": [
          "authors"
        ],
        "summary": "Get a specific author",
        "description": "This method allows to retrieve a specific author.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "An author.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/case/{code}": {
      "get": {
        "operationId": "get-cases",
        "tags": [
          "cases"
        ],
        "summary": "Get all test cases",
        "description": "This method allows to retrieve all test cases stored in selected project.\n",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "Provide a string that will be used to search by name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "milestone_id",
            "description": "ID of milestone.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "suite_id",
            "description": "ID of test suite.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "severity",
            "description": "A list of severity values separated by comma.\nPossible values: undefined, blocker, critical,\nmajor, normal, minor, trivial\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "priority",
            "description": "A list of priority values separated by comma.\nPossible values: undefined, high, medium, low\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "A list of type values separated by comma.\nPossible values: other, functional smoke, regression,\nsecurity, usability, performance, acceptance\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "behavior",
            "description": "A list of behavior values separated by comma.\nPossible values: undefined, positive negative, destructive\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "automation",
            "description": "A list of values separated by comma.\nPossible values: is-not-automated, automated to-be-automated\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "A list of values separated by comma. Possible values: actual, draft deprecated\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "external_issues[type]",
            "description": "An integration type.\n",
            "schema": {
              "type": "string",
              "enum": [
                "asana",
                "azure-devops",
                "clickup-app",
                "github-app",
                "gitlab-app",
                "jira-cloud",
                "jira-server",
                "linear",
                "monday",
                "redmine-app",
                "trello-app",
                "youtrack-app"
              ]
            }
          },
          {
            "in": "query",
            "name": "external_issues[ids][]",
            "description": "A list of issue IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "include",
            "description": "A list of entities to include in response separated by comma. Possible values: external_issues.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all cases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCaseListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "402": {
            "description": "Payment Required."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-case",
        "tags": [
          "cases"
        ],
        "summary": "Create a new test case",
        "description": "This method allows to create a new test case in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCaseCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/case/{code}/{id}": {
      "get": {
        "operationId": "get-case",
        "tags": [
          "cases"
        ],
        "summary": "Get a specific test case",
        "description": "This method allows to retrieve a specific test case.\n",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "description": "A list of entities to include in response separated by comma. Possible values: external_issues.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Test Case.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestCaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-case",
        "tags": [
          "cases"
        ],
        "summary": "Delete test case",
        "description": "This method completely deletes a test case from repository.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Test Case.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "patch": {
        "operationId": "update-case",
        "tags": [
          "cases"
        ],
        "summary": "Update test case",
        "description": "This method updates a test case.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCaseUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A Test Case.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/case/{code}/bulk": {
      "post": {
        "operationId": "bulk",
        "tags": [
          "cases"
        ],
        "summary": "Create test cases in bulk",
        "description": "This method allows to bulk create new test cases in a project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cases": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TestCaseCreate"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "nullable": true
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "cases"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of IDs of the created cases.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/case/{code}/external-issue/attach": {
      "post": {
        "operationId": "case-attach-external-issue",
        "tags": [
          "cases"
        ],
        "summary": "Attach the external issues to the test cases",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCaseExternalIssues"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "402": {
            "description": "Payment Required."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/case/{code}/external-issue/detach": {
      "post": {
        "operationId": "case-detach-external-issue",
        "tags": [
          "cases"
        ],
        "summary": "Detach the external issues from the test cases",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCaseExternalIssues"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "402": {
            "description": "Payment Required."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/custom_field": {
      "get": {
        "operationId": "get-custom-fields",
        "tags": [
          "custom-fields"
        ],
        "summary": "Get all Custom Fields",
        "description": "This method allows to retrieve and filter custom fields.\n",
        "parameters": [
          {
            "in": "query",
            "name": "entity",
            "schema": {
              "type": "string",
              "enum": [
                "case",
                "run",
                "defect"
              ]
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "string",
                "text",
                "number",
                "checkbox",
                "selectbox",
                "radio",
                "multiselect",
                "url",
                "user",
                "datetime"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom Field list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-custom-field",
        "tags": [
          "custom-fields"
        ],
        "summary": "Create new Custom Field",
        "description": "This method allows to create custom field.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Custom Field id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/custom_field/{id}": {
      "get": {
        "operationId": "get-custom-field",
        "tags": [
          "custom-fields"
        ],
        "summary": "Get Custom Field",
        "description": "This method allows to retrieve custom field.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Custom Field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-custom-field",
        "tags": [
          "custom-fields"
        ],
        "summary": "Delete Custom Field",
        "description": "This method allows to delete custom field.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom Field removal result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "patch": {
        "operationId": "update-custom-field",
        "tags": [
          "custom-fields"
        ],
        "summary": "Update Custom Field",
        "description": "This method allows to update custom field.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom Field update result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/system_field": {
      "get": {
        "operationId": "get-system-fields",
        "tags": [
          "system-fields"
        ],
        "summary": "Get all System Fields",
        "description": "This method allows to retrieve all system fields.\n",
        "responses": {
          "200": {
            "description": "System Field list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "default_value": {
                                "type": "string",
                                "nullable": true
                              },
                              "is_required": {
                                "type": "boolean"
                              },
                              "entity": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "type": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "options": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "format": "int64"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "slug": {
                                      "type": "string"
                                    },
                                    "color": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "icon": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "is_default": {
                                      "type": "boolean"
                                    },
                                    "read_only": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/defect/{code}": {
      "get": {
        "operationId": "get-defects",
        "tags": [
          "defects"
        ],
        "summary": "Get all defects",
        "description": "This method allows to retrieve all defects stored in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "resolved",
                "in_progress",
                "invalid"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all defects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefectListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-defect",
        "tags": [
          "defects"
        ],
        "summary": "Create a new defect",
        "description": "This method allows to create a defect in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefectCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/defect/{code}/{id}": {
      "get": {
        "operationId": "get-defect",
        "tags": [
          "defects"
        ],
        "summary": "Get a specific defect",
        "description": "This method allows to retrieve a specific defect.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A defect.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-defect",
        "tags": [
          "defects"
        ],
        "summary": "Delete defect",
        "description": "This method completely deletes a defect from repository.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "patch": {
        "operationId": "update-defect",
        "tags": [
          "defects"
        ],
        "summary": "Update defect",
        "description": "This method updates a defect.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefectUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/defect/{code}/resolve/{id}": {
      "patch": {
        "operationId": "resolve-defect",
        "tags": [
          "defects"
        ],
        "summary": "Resolve a specific defect",
        "description": "This method allows to resolve a specific defect.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/defect/{code}/status/{id}": {
      "patch": {
        "operationId": "update-defect-status",
        "tags": [
          "defects"
        ],
        "summary": "Update a specific defect status",
        "description": "This method allows to update a specific defect status.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefectStatus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/environment/{code}": {
      "get": {
        "operationId": "get-environments",
        "tags": [
          "environments"
        ],
        "summary": "Get all environments",
        "description": "This method allows to retrieve all environments stored in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "in": "query",
            "name": "search",
            "description": "A search string.\nWill return all environments with titles containing provided string.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "slug",
            "schema": {
              "type": "string"
            },
            "description": "A search string. \nWill return all environments with slugs equal to provided string.\n"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all environments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-environment",
        "tags": [
          "environments"
        ],
        "summary": "Create a new environment",
        "description": "This method allows to create an environment in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/environment/{code}/{id}": {
      "get": {
        "operationId": "get-environment",
        "tags": [
          "environments"
        ],
        "summary": "Get a specific environment",
        "description": "This method allows to retrieve a specific environment.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "An environment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-environment",
        "tags": [
          "environments"
        ],
        "summary": "Delete environment",
        "description": "This method completely deletes an environment from repository.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "patch": {
        "operationId": "update-environment",
        "tags": [
          "environments"
        ],
        "summary": "Update environment",
        "description": "This method updates an environment.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/milestone/{code}": {
      "get": {
        "operationId": "get-milestones",
        "tags": [
          "milestones"
        ],
        "summary": "Get all milestones",
        "description": "This method allows to retrieve all milestones stored in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "in": "query",
            "name": "search",
            "description": "Provide a string that will be used to search by name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all milestones.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MilestoneListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-milestone",
        "tags": [
          "milestones"
        ],
        "summary": "Create a new milestone",
        "description": "This method allows to create a milestone in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/milestone/{code}/{id}": {
      "get": {
        "operationId": "get-milestone",
        "tags": [
          "milestones"
        ],
        "summary": "Get a specific milestone",
        "description": "This method allows to retrieve a specific milestone.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Milestone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MilestoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-milestone",
        "tags": [
          "milestones"
        ],
        "summary": "Delete milestone",
        "description": "This method completely deletes a milestone from repository.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "patch": {
        "operationId": "update-milestone",
        "tags": [
          "milestones"
        ],
        "summary": "Update milestone",
        "description": "This method updates a milestone.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/plan/{code}": {
      "get": {
        "operationId": "get-plans",
        "tags": [
          "plans"
        ],
        "summary": "Get all plans",
        "description": "This method allows to retrieve all plans stored in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all plans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-plan",
        "tags": [
          "plans"
        ],
        "summary": "Create a new plan",
        "description": "This method allows to create a plan in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/plan/{code}/{id}": {
      "get": {
        "operationId": "get-plan",
        "tags": [
          "plans"
        ],
        "summary": "Get a specific plan",
        "description": "This method allows to retrieve a specific plan.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-plan",
        "tags": [
          "plans"
        ],
        "summary": "Delete plan",
        "description": "This method completely deletes a plan from repository.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "patch": {
        "operationId": "update-plan",
        "tags": [
          "plans"
        ],
        "summary": "Update plan",
        "description": "This method updates a plan.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/project": {
      "get": {
        "operationId": "get-projects",
        "tags": [
          "projects"
        ],
        "summary": "Get All Projects",
        "description": "This method allows to retrieve all projects available\nfor your account. You can limit and offset params\nto paginate.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-project",
        "tags": [
          "projects"
        ],
        "summary": "Create new project",
        "description": "This method is used to create a new project through API.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result of project creation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/project/{code}": {
      "get": {
        "operationId": "get-project",
        "tags": [
          "projects"
        ],
        "summary": "Get Project by code",
        "description": "This method allows to retrieve a specific project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "responses": {
          "200": {
            "description": "A Project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-project",
        "tags": [
          "projects"
        ],
        "summary": "Delete Project by code",
        "description": "This method allows to delete a specific project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "responses": {
          "200": {
            "description": "A result of project removal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/project/{code}/access": {
      "post": {
        "operationId": "grant-access-to-project",
        "tags": [
          "projects"
        ],
        "summary": "Grant access to project by code",
        "description": "This method allows to grant access to a specific project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectAccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result of operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "revoke-access-to-project",
        "tags": [
          "projects"
        ],
        "summary": "Revoke access to project by code",
        "description": "This method allows to revoke access to a specific project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectAccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result of operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/result/{code}": {
      "get": {
        "operationId": "get-results",
        "tags": [
          "results"
        ],
        "summary": "Get all test run results",
        "description": "This method allows to retrieve all test run\nresults stored in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "in": "query",
            "name": "status",
            "description": "A single test run result status.\nPossible values: in_progress, passed, failed, blocked, skipped, invalid.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "run",
            "schema": {
              "type": "string"
            },
            "description": "A list of run IDs separated by comma."
          },
          {
            "in": "query",
            "name": "case_id",
            "schema": {
              "type": "string"
            },
            "description": "A list of case IDs separated by comma."
          },
          {
            "in": "query",
            "name": "member",
            "schema": {
              "type": "string"
            },
            "description": "A list of member IDs separated by comma."
          },
          {
            "in": "query",
            "name": "api",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "from_end_time",
            "schema": {
              "type": "string"
            },
            "description": "Will return all results created after provided datetime.\nAllowed format: `Y-m-d H:i:s`.\n"
          },
          {
            "in": "query",
            "name": "to_end_time",
            "schema": {
              "type": "string"
            },
            "description": "Will return all results created before provided datetime.\nAllowed format: `Y-m-d H:i:s`.\n"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all test run results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/result/{code}/{id}": {
      "post": {
        "operationId": "create-result",
        "tags": [
          "results"
        ],
        "summary": "Create test run result",
        "description": "This method allows to create test run result by Run Id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "case_id": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "hash": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/result/{code}/{hash}": {
      "get": {
        "operationId": "get-result",
        "tags": [
          "results"
        ],
        "summary": "Get test run result by code",
        "description": "This method allows to retrieve a specific test run result by Hash.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Hash"
          }
        ],
        "responses": {
          "200": {
            "description": "A test run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/result/{code}/{id}/bulk": {
      "post": {
        "operationId": "create-result-bulk",
        "tags": [
          "results"
        ],
        "summary": "Bulk create test run result",
        "description": "This method allows to create a lot of test run result at once.\n\nIf you try to send more than 2,000 results in a single bulk request, you will receive an error with code 413 - Payload Too Large.\n\nIf there is no free space left in your team account, when attempting to upload an attachment, e.g., through reporters, you will receive an error with code 507 - Insufficient Storage.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultCreateBulk"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "413": {
            "description": "Payload Too Large."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/result/{code}/{id}/{hash}": {
      "patch": {
        "operationId": "update-result",
        "tags": [
          "results"
        ],
        "summary": "Update test run result",
        "description": "This method allows to update test run result.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/Hash"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-result",
        "tags": [
          "results"
        ],
        "summary": "Delete test run result",
        "description": "This method allows to delete test run result.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/Hash"
          }
        ],
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/run/{code}": {
      "get": {
        "operationId": "get-runs",
        "tags": [
          "runs"
        ],
        "summary": "Get all runs",
        "description": "This method allows to retrieve all runs stored in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "A list of status values separated by comma.\nPossible values: in_progress, passed, failed, aborted, active (deprecated), complete (deprecated), abort (deprecated).\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "milestone",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "environment",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "from_start_time",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "to_start_time",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/ExtendRuns"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all runs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "operationId": "create-run",
        "tags": [
          "runs"
        ],
        "summary": "Create a new run",
        "description": "This method allows to create a run in selected project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/run/{code}/external-issue": {
      "post": {
        "operationId": "run-update-external-issue",
        "tags": [
          "runs"
        ],
        "summary": "Update external issues for runs",
        "description": "This method allows you to update links between test runs and external issues (such as Jira tickets).\n\nYou can use this endpoint to:\n- Link test runs to external issues by providing the external issue identifier (e.g., \"PROJ-1234\")\n- Update existing links by providing a new external issue identifier\n- Remove existing links by setting the external_issue field to null\n\n**Important**: Each test run can have only one link with an external issue. If a test run already has an external issue link, providing a new external_issue value will replace the existing link.\n\nThe endpoint supports both Jira Cloud and Jira Server integrations. Each request can update multiple test run links in a single operation.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "jira-cloud",
                      "jira-server"
                    ]
                  },
                  "links": {
                    "type": "array",
                    "description": "Array of external issue links. Each test run (run_id) can have only one external issue link.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "run_id": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "external_issue": {
                          "type": "string",
                          "nullable": true,
                          "minLength": 1,
                          "description": "An external issue identifier, e.g. \"PROJ-1234\". Or null if you want to remove the link."
                        }
                      },
                      "required": [
                        "run_id"
                      ]
                    }
                  }
                },
                "required": [
                  "type",
                  "links"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK."
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/run/{code}/{id}": {
      "get": {
        "operationId": "get-run",
        "tags": [
          "runs"
        ],
        "summary": "Get a specific run",
        "description": "This method allows to retrieve a specific run.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/ExtendRuns"
          }
        ],
        "responses": {
          "200": {
            "description": "A run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "patch": {
        "operationId": "update-run",
        "tags": [
          "runs"
        ],
        "summary": "Update a specific run",
        "description": "This method allows to update a specific run.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 10000,
                    "nullable": true
                  },
                  "environment_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "nullable": true
                  },
                  "environment_slug": {
                    "type": "string",
                    "maxLength": 255,
                    "nullable": true
                  },
                  "milestone_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "nullable": true
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "configurations": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nullable": true
                  },
                  "custom_field": {
                    "type": "object",
                    "description": "A map of custom fields values (id => value)",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "operationId": "delete-run",
        "tags": [
          "runs"
        ],
        "summary": "Delete run",
        "description": "This method completely deletes a run from repository.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A Result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/run/{code}/{id}/public": {
      "patch": {
        "operationId": "update-run-publicity",
        "tags": [
          "runs"
        ],
        "summary": "Update publicity of a specific run",
        "description": "This method allows to update a publicity of specific run.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunPublic"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/run/{code}/{id}/complete": {
      "post": {
        "operationId": "complete-run",
        "tags": [
          "runs"
        ],
        "summary": "Complete a specific run",
        "description": "This method allows to complete a specific run.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Code"
          },
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "A result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Not Found."
          },
          "422": {
            "description": "Unprocessable Entity."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "tags": [
          "search"
        ],
        "summary": "Search entities by Qase Query Language (QQL)",
        "description": "This method allows to retrieve data sets for various\nentities using expressions with conditions.\n",
        "externalDocs": {
          "description": "Find more info about QQL here.",
          "url": "https://help.qase.io/hc/en-us/articles/4404615073041"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Expression in Qase Query Language.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of found entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/shared_parameter": {
      "get": {
        "operationId": "get-shared-parameters",
        "tags": [
          "shared-parameters"
        ],
        "summary": "Get all shared parameters",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "in": "query",
            "name": "filters[search]",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filters[type]",
            "schema": {
              "type": "string",
              "enum": [
                "single",
                "group"
              ]
            }
          },
          {
            "in": "query",
            "name": "filters[project_codes][]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 2,
                "maxLength": 10
              }
            }
          }
        ],
        "responses": {
          "200": {
[...]
